[submodule "repos/os-checker/os-checker"]
	path = repos/os-checker/os-checker
	url = https://github.com/os-checker/os-checker.git
[submodule "repos/os-checker/os-checker-test-suite"]
	path = repos/os-checker/os-checker-test-suite
	url = https://github.com/os-checker/os-checker-test-suite.git
[submodule "repos/os-checker/plugin-cargo"]
	path = repos/os-checker/plugin-cargo
	url = https://github.com/os-checker/plugin-cargo.git
[submodule "repos/arceos-org/kspin"]
	path = repos/arceos-org/kspin
	url = https://github.com/arceos-org/kspin.git
[submodule "repos/arceos-org/axmm_crates"]
	path = repos/arceos-org/axmm_crates
	url = https://github.com/arceos-org/axmm_crates.git
[submodule "repos/arceos-org/percpu"]
	path = repos/arceos-org/percpu
	url = https://github.com/arceos-org/percpu.git
[submodule "repos/arceos-org/linked_list"]
	path = repos/arceos-org/linked_list
	url = https://github.com/arceos-org/linked_list.git
