[submodule "repos/os-checker/os-checker"]
	path = repos/os-checker/os-checker
	url = https://github.com/os-checker/os-checker.git
[submodule "repos/os-checker/os-checker-test-suite"]
	path = repos/os-checker/os-checker-test-suite
	url = https://github.com/os-checker/os-checker-test-suite.git
[submodule "repos/os-checker/plugin-cargo"]
	path = repos/os-checker/plugin-cargo
	url = https://github.com/os-checker/plugin-cargo.git
[submodule "repos/kern-crates/CSpace"]
	path = repos/kern-crates/CSpace
	url = https://github.com/kern-crates/CSpace.git
[submodule "repos/kern-crates/allocator"]
	path = repos/kern-crates/allocator
	url = https://github.com/kern-crates/allocator.git
[submodule "repos/kern-crates/arceos"]
	path = repos/kern-crates/arceos
	url = https://github.com/kern-crates/arceos.git
[submodule "repos/kern-crates/arm_gic"]
	path = repos/kern-crates/arm_gic
	url = https://github.com/kern-crates/arm_gic.git
[submodule "repos/kern-crates/arm_gicv2"]
	path = repos/kern-crates/arm_gicv2
	url = https://github.com/kern-crates/arm_gicv2.git
[submodule "repos/kern-crates/arm_pl011"]
	path = repos/kern-crates/arm_pl011
	url = https://github.com/kern-crates/arm_pl011.git
[submodule "repos/kern-crates/arm_pl031"]
	path = repos/kern-crates/arm_pl031
	url = https://github.com/kern-crates/arm_pl031.git
[submodule "repos/kern-crates/arm_vcpu"]
	path = repos/kern-crates/arm_vcpu
	url = https://github.com/kern-crates/arm_vcpu.git
[submodule "repos/kern-crates/arm_vgic"]
	path = repos/kern-crates/arm_vgic
	url = https://github.com/kern-crates/arm_vgic.git
[submodule "repos/kern-crates/axaddrspace"]
	path = repos/kern-crates/axaddrspace
	url = https://github.com/kern-crates/axaddrspace.git
[submodule "repos/kern-crates/axbacktrace"]
	path = repos/kern-crates/axbacktrace
	url = https://github.com/kern-crates/axbacktrace.git
[submodule "repos/kern-crates/axdevice"]
	path = repos/kern-crates/axdevice
	url = https://github.com/kern-crates/axdevice.git
[submodule "repos/kern-crates/axdriver_crates"]
	path = repos/kern-crates/axdriver_crates
	url = https://github.com/kern-crates/axdriver_crates.git
[submodule "repos/kern-crates/axerrno"]
	path = repos/kern-crates/axerrno
	url = https://github.com/kern-crates/axerrno.git
[submodule "repos/kern-crates/axfs_crates"]
	path = repos/kern-crates/axfs_crates
	url = https://github.com/kern-crates/axfs_crates.git
[submodule "repos/kern-crates/axio"]
	path = repos/kern-crates/axio
	url = https://github.com/kern-crates/axio.git
[submodule "repos/kern-crates/axmm_crates"]
	path = repos/kern-crates/axmm_crates
	url = https://github.com/kern-crates/axmm_crates.git
[submodule "repos/kern-crates/axprocess"]
	path = repos/kern-crates/axprocess
	url = https://github.com/kern-crates/axprocess.git
[submodule "repos/kern-crates/axvcpu"]
	path = repos/kern-crates/axvcpu
	url = https://github.com/kern-crates/axvcpu.git
[submodule "repos/kern-crates/axvm"]
	path = repos/kern-crates/axvm
	url = https://github.com/kern-crates/axvm.git
[submodule "repos/kern-crates/cap_access"]
	path = repos/kern-crates/cap_access
	url = https://github.com/kern-crates/cap_access.git
[submodule "repos/kern-crates/cpumask"]
	path = repos/kern-crates/cpumask
	url = https://github.com/kern-crates/cpumask.git
[submodule "repos/kern-crates/crate_interface"]
	path = repos/kern-crates/crate_interface
	url = https://github.com/kern-crates/crate_interface.git
[submodule "repos/kern-crates/dw_apb_uart"]
	path = repos/kern-crates/dw_apb_uart
	url = https://github.com/kern-crates/dw_apb_uart.git
[submodule "repos/kern-crates/elf_parser_rs"]
	path = repos/kern-crates/elf_parser_rs
	url = https://github.com/kern-crates/elf_parser_rs.git
[submodule "repos/kern-crates/flatten_objects"]
	path = repos/kern-crates/flatten_objects
	url = https://github.com/kern-crates/flatten_objects.git
[submodule "repos/kern-crates/handler_table"]
	path = repos/kern-crates/handler_table
	url = https://github.com/kern-crates/handler_table.git
[submodule "repos/kern-crates/int_ratio"]
	path = repos/kern-crates/int_ratio
	url = https://github.com/kern-crates/int_ratio.git
[submodule "repos/kern-crates/kernel_guard"]
	path = repos/kern-crates/kernel_guard
	url = https://github.com/kern-crates/kernel_guard.git
[submodule "repos/kern-crates/kspin"]
	path = repos/kern-crates/kspin
	url = https://github.com/kern-crates/kspin.git
[submodule "repos/kern-crates/lazyinit"]
	path = repos/kern-crates/lazyinit
	url = https://github.com/kern-crates/lazyinit.git
[submodule "repos/kern-crates/libc-test"]
	path = repos/kern-crates/libc-test
	url = https://github.com/kern-crates/libc-test.git
[submodule "repos/kern-crates/linked_list_r4l"]
	path = repos/kern-crates/linked_list_r4l
	url = https://github.com/kern-crates/linked_list_r4l.git
[submodule "repos/kern-crates/linked_list_r4l-1"]
	path = repos/kern-crates/linked_list_r4l-1
	url = https://github.com/kern-crates/linked_list_r4l-1.git
[submodule "repos/kern-crates/linked_list_r4l-10"]
	path = repos/kern-crates/linked_list_r4l-10
	url = https://github.com/kern-crates/linked_list_r4l-10.git
[submodule "repos/kern-crates/linked_list_r4l-11"]
	path = repos/kern-crates/linked_list_r4l-11
	url = https://github.com/kern-crates/linked_list_r4l-11.git
[submodule "repos/kern-crates/linked_list_r4l-12"]
	path = repos/kern-crates/linked_list_r4l-12
	url = https://github.com/kern-crates/linked_list_r4l-12.git
[submodule "repos/kern-crates/linked_list_r4l-13"]
	path = repos/kern-crates/linked_list_r4l-13
	url = https://github.com/kern-crates/linked_list_r4l-13.git
[submodule "repos/kern-crates/linked_list_r4l-14"]
	path = repos/kern-crates/linked_list_r4l-14
	url = https://github.com/kern-crates/linked_list_r4l-14.git
[submodule "repos/kern-crates/linked_list_r4l-2"]
	path = repos/kern-crates/linked_list_r4l-2
	url = https://github.com/kern-crates/linked_list_r4l-2.git
[submodule "repos/kern-crates/linked_list_r4l-3"]
	path = repos/kern-crates/linked_list_r4l-3
	url = https://github.com/kern-crates/linked_list_r4l-3.git
[submodule "repos/kern-crates/linked_list_r4l-4"]
	path = repos/kern-crates/linked_list_r4l-4
	url = https://github.com/kern-crates/linked_list_r4l-4.git
[submodule "repos/kern-crates/linked_list_r4l-5"]
	path = repos/kern-crates/linked_list_r4l-5
	url = https://github.com/kern-crates/linked_list_r4l-5.git
[submodule "repos/kern-crates/linked_list_r4l-6"]
	path = repos/kern-crates/linked_list_r4l-6
	url = https://github.com/kern-crates/linked_list_r4l-6.git
[submodule "repos/kern-crates/linked_list_r4l-7"]
	path = repos/kern-crates/linked_list_r4l-7
	url = https://github.com/kern-crates/linked_list_r4l-7.git
[submodule "repos/kern-crates/linked_list_r4l-8"]
	path = repos/kern-crates/linked_list_r4l-8
	url = https://github.com/kern-crates/linked_list_r4l-8.git
[submodule "repos/kern-crates/linked_list_r4l-9"]
	path = repos/kern-crates/linked_list_r4l-9
	url = https://github.com/kern-crates/linked_list_r4l-9.git
[submodule "repos/kern-crates/loongArch64"]
	path = repos/kern-crates/loongArch64
	url = https://github.com/kern-crates/loongArch64.git
[submodule "repos/kern-crates/lwext4"]
	path = repos/kern-crates/lwext4
	url = https://github.com/kern-crates/lwext4.git
[submodule "repos/kern-crates/memory_set"]
	path = repos/kern-crates/memory_set
	url = https://github.com/kern-crates/memory_set.git
[submodule "repos/kern-crates/of"]
	path = repos/kern-crates/of
	url = https://github.com/kern-crates/of.git
[submodule "repos/kern-crates/page_table_multiarch"]
	path = repos/kern-crates/page_table_multiarch
	url = https://github.com/kern-crates/page_table_multiarch.git
[submodule "repos/kern-crates/pager"]
	path = repos/kern-crates/pager
	url = https://github.com/kern-crates/pager.git
[submodule "repos/kern-crates/pconst"]
	path = repos/kern-crates/pconst
	url = https://github.com/kern-crates/pconst.git
[submodule "repos/kern-crates/percpu"]
	path = repos/kern-crates/percpu
	url = https://github.com/kern-crates/percpu.git
[submodule "repos/kern-crates/percpu_macros"]
	path = repos/kern-crates/percpu_macros
	url = https://github.com/kern-crates/percpu_macros.git
[submodule "repos/kern-crates/rCoreloongArch"]
	path = repos/kern-crates/rCoreloongArch
	url = https://github.com/kern-crates/rCoreloongArch.git
[submodule "repos/kern-crates/rboot"]
	path = repos/kern-crates/rboot
	url = https://github.com/kern-crates/rboot.git
[submodule "repos/kern-crates/riscv_vcpu"]
	path = repos/kern-crates/riscv_vcpu
	url = https://github.com/kern-crates/riscv_vcpu.git
[submodule "repos/kern-crates/rtc"]
	path = repos/kern-crates/rtc
	url = https://github.com/kern-crates/rtc.git
[submodule "repos/kern-crates/rvfs"]
	path = repos/kern-crates/rvfs
	url = https://github.com/kern-crates/rvfs.git
[submodule "repos/kern-crates/safe-virtio-drivers"]
	path = repos/kern-crates/safe-virtio-drivers
	url = https://github.com/kern-crates/safe-virtio-drivers.git
[submodule "repos/kern-crates/scheduler"]
	path = repos/kern-crates/scheduler
	url = https://github.com/kern-crates/scheduler.git
[submodule "repos/kern-crates/sel4_common"]
	path = repos/kern-crates/sel4_common
	url = https://github.com/kern-crates/sel4_common.git
[submodule "repos/kern-crates/sel4_cspace"]
	path = repos/kern-crates/sel4_cspace
	url = https://github.com/kern-crates/sel4_cspace.git
[submodule "repos/kern-crates/sel4_ipc"]
	path = repos/kern-crates/sel4_ipc
	url = https://github.com/kern-crates/sel4_ipc.git
[submodule "repos/kern-crates/sel4_task"]
	path = repos/kern-crates/sel4_task
	url = https://github.com/kern-crates/sel4_task.git
[submodule "repos/kern-crates/sel4_vspace"]
	path = repos/kern-crates/sel4_vspace
	url = https://github.com/kern-crates/sel4_vspace.git
[submodule "repos/kern-crates/spinlock"]
	path = repos/kern-crates/spinlock
	url = https://github.com/kern-crates/spinlock.git
[submodule "repos/kern-crates/syscall-table"]
	path = repos/kern-crates/syscall-table
	url = https://github.com/kern-crates/syscall-table.git
[submodule "repos/kern-crates/test-test-repo"]
	path = repos/kern-crates/test-test-repo
	url = https://github.com/kern-crates/test-test-repo.git
[submodule "repos/kern-crates/timer_list"]
	path = repos/kern-crates/timer_list
	url = https://github.com/kern-crates/timer_list.git
[submodule "repos/kern-crates/tracer"]
	path = repos/kern-crates/tracer
	url = https://github.com/kern-crates/tracer.git
[submodule "repos/kern-crates/tuple_for_each"]
	path = repos/kern-crates/tuple_for_each
	url = https://github.com/kern-crates/tuple_for_each.git
[submodule "repos/kern-crates/uart16550"]
	path = repos/kern-crates/uart16550
	url = https://github.com/kern-crates/uart16550.git
[submodule "repos/kern-crates/virt2slint"]
	path = repos/kern-crates/virt2slint
	url = https://github.com/kern-crates/virt2slint.git
[submodule "repos/kern-crates/virtio-input-decoder"]
	path = repos/kern-crates/virtio-input-decoder
	url = https://github.com/kern-crates/virtio-input-decoder.git
[submodule "repos/kern-crates/visionfive2-sd"]
	path = repos/kern-crates/visionfive2-sd
	url = https://github.com/kern-crates/visionfive2-sd.git
[submodule "repos/kern-crates/x86_vcpu"]
	path = repos/kern-crates/x86_vcpu
	url = https://github.com/kern-crates/x86_vcpu.git
[submodule "repos/kern-crates/zCore"]
	path = repos/kern-crates/zCore
	url = https://github.com/kern-crates/zCore.git
[submodule "repos/kern-crates/zcore-drivers"]
	path = repos/kern-crates/zcore-drivers
	url = https://github.com/kern-crates/zcore-drivers.git
[submodule "repos/kern-crates/zcore-kernel-hal"]
	path = repos/kern-crates/zcore-kernel-hal
	url = https://github.com/kern-crates/zcore-kernel-hal.git
[submodule "repos/kern-crates/zcore-tests"]
	path = repos/kern-crates/zcore-tests
	url = https://github.com/kern-crates/zcore-tests.git
[submodule "repos/kern-crates/zcore-zircon-object"]
	path = repos/kern-crates/zcore-zircon-object
	url = https://github.com/kern-crates/zcore-zircon-object.git
[submodule "repos/kern-crates/zcore-zircon-syscall"]
	path = repos/kern-crates/zcore-zircon-syscall
	url = https://github.com/kern-crates/zcore-zircon-syscall.git
[submodule "repos/kern-crates/zcore-zircon-user"]
	path = repos/kern-crates/zcore-zircon-user
	url = https://github.com/kern-crates/zcore-zircon-user.git
[submodule "repos/qclic/fdt-parser"]
	path = repos/qclic/fdt-parser
	url = https://github.com/qclic/fdt-parser.git
[submodule "repos/yuoo655/ext4_rs"]
	path = repos/yuoo655/ext4_rs
	url = https://github.com/yuoo655/ext4_rs.git
[submodule "repos/yuoo655/ext4libtest"]
	path = repos/yuoo655/ext4libtest
	url = https://github.com/yuoo655/ext4libtest.git
[submodule "repos/kern-crates/linked_list_r4l-15"]
	path = repos/kern-crates/linked_list_r4l-15
	url = https://github.com/kern-crates/linked_list_r4l-15.git
[submodule "repos/kern-crates/linked_list_r4l-16"]
	path = repos/kern-crates/linked_list_r4l-16
	url = https://github.com/kern-crates/linked_list_r4l-16.git
[submodule "repos/kern-crates/linked_list_r4l-17"]
	path = repos/kern-crates/linked_list_r4l-17
	url = https://github.com/kern-crates/linked_list_r4l-17.git
[submodule "repos/kern-crates/linked_list_r4l-18"]
	path = repos/kern-crates/linked_list_r4l-18
	url = https://github.com/kern-crates/linked_list_r4l-18.git
