[submodule "repos/os-checker/os-checker"]
	path = repos/os-checker/os-checker
	url = https://github.com/os-checker/os-checker.git
[submodule "repos/os-checker/os-checker-test-suite"]
	path = repos/os-checker/os-checker-test-suite
	url = https://github.com/os-checker/os-checker-test-suite.git
[submodule "repos/os-checker/plugin-cargo"]
	path = repos/os-checker/plugin-cargo
	url = https://github.com/os-checker/plugin-cargo.git
[submodule "repos/arceos-org/kspin"]
	path = repos/arceos-org/kspin
	url = https://github.com/arceos-org/kspin.git
[submodule "repos/arceos-org/axmm_crates"]
	path = repos/arceos-org/axmm_crates
	url = https://github.com/arceos-org/axmm_crates.git
[submodule "repos/arceos-org/percpu"]
	path = repos/arceos-org/percpu
	url = https://github.com/arceos-org/percpu.git
[submodule "repos/arceos-org/linked_list"]
	path = repos/arceos-org/linked_list
	url = https://github.com/arceos-org/linked_list.git
[submodule "repos/arceos-org/arceos-apps"]
	path = repos/arceos-org/arceos-apps
	url = https://github.com/arceos-org/arceos-apps.git
[submodule "repos/arceos-org/scheduler"]
	path = repos/arceos-org/scheduler
	url = https://github.com/arceos-org/scheduler.git
[submodule "repos/arceos-org/cpumask"]
	path = repos/arceos-org/cpumask
	url = https://github.com/arceos-org/cpumask.git
[submodule "repos/arceos-org/page_table_multiarch"]
	path = repos/arceos-org/page_table_multiarch
	url = https://github.com/arceos-org/page_table_multiarch.git
[submodule "repos/arceos-org/memory_set"]
	path = repos/arceos-org/memory_set
	url = https://github.com/arceos-org/memory_set.git
[submodule "repos/arceos-org/arm_gicv2"]
	path = repos/arceos-org/arm_gicv2
	url = https://github.com/arceos-org/arm_gicv2.git
[submodule "repos/arceos-org/crate_interface"]
	path = repos/arceos-org/crate_interface
	url = https://github.com/arceos-org/crate_interface.git
[submodule "repos/arceos-org/arceos-crates"]
	path = repos/arceos-org/arceos-crates
	url = https://github.com/arceos-org/arceos-crates.git
[submodule "repos/arceos-org/lazyinit"]
	path = repos/arceos-org/lazyinit
	url = https://github.com/arceos-org/lazyinit.git
[submodule "repos/arceos-org/arm_pl031"]
	path = repos/arceos-org/arm_pl031
	url = https://github.com/arceos-org/arm_pl031.git
[submodule "repos/arceos-org/arceos"]
	path = repos/arceos-org/arceos
	url = https://github.com/arceos-org/arceos.git
[submodule "repos/arceos-org/axfs_crates"]
	path = repos/arceos-org/axfs_crates
	url = https://github.com/arceos-org/axfs_crates.git
[submodule "repos/arceos-org/allocator"]
	path = repos/arceos-org/allocator
	url = https://github.com/arceos-org/allocator.git
[submodule "repos/arceos-org/axio"]
	path = repos/arceos-org/axio
	url = https://github.com/arceos-org/axio.git
[submodule "repos/arceos-org/axdriver_crates"]
	path = repos/arceos-org/axdriver_crates
	url = https://github.com/arceos-org/axdriver_crates.git
[submodule "repos/arceos-org/cap_access"]
	path = repos/arceos-org/cap_access
	url = https://github.com/arceos-org/cap_access.git
[submodule "repos/arceos-org/timer_list"]
	path = repos/arceos-org/timer_list
	url = https://github.com/arceos-org/timer_list.git
[submodule "repos/arceos-org/axerrno"]
	path = repos/arceos-org/axerrno
	url = https://github.com/arceos-org/axerrno.git
[submodule "repos/arceos-org/int_ratio"]
	path = repos/arceos-org/int_ratio
	url = https://github.com/arceos-org/int_ratio.git
[submodule "repos/arceos-org/arm_pl011"]
	path = repos/arceos-org/arm_pl011
	url = https://github.com/arceos-org/arm_pl011.git
[submodule "repos/arceos-org/handler_table"]
	path = repos/arceos-org/handler_table
	url = https://github.com/arceos-org/handler_table.git
[submodule "repos/arceos-org/flatten_objects"]
	path = repos/arceos-org/flatten_objects
	url = https://github.com/arceos-org/flatten_objects.git
[submodule "repos/arceos-org/kernel_guard"]
	path = repos/arceos-org/kernel_guard
	url = https://github.com/arceos-org/kernel_guard.git
[submodule "repos/Byte-OS/lose-net-stack"]
	path = repos/Byte-OS/lose-net-stack
	url = https://github.com/Byte-OS/lose-net-stack.git
[submodule "repos/Byte-OS/polyhal"]
	path = repos/Byte-OS/polyhal
	url = https://github.com/Byte-OS/polyhal.git
[submodule "repos/Starry-OS/Starry"]
	path = repos/Starry-OS/Starry
	url = https://github.com/Starry-OS/Starry.git
[submodule "repos/ZR233/arm-gic-driver"]
	path = repos/ZR233/arm-gic-driver
	url = https://github.com/ZR233/arm-gic-driver.git
[submodule "repos/ZR233/arm-pl011-rs"]
	path = repos/ZR233/arm-pl011-rs
	url = https://github.com/ZR233/arm-pl011-rs.git
[submodule "repos/elliott10/e1000-driver"]
	path = repos/elliott10/e1000-driver
	url = https://github.com/elliott10/e1000-driver.git
[submodule "repos/elliott10/lwext4_rust"]
	path = repos/elliott10/lwext4_rust
	url = https://github.com/elliott10/lwext4_rust.git
[submodule "repos/guoweikang/osl"]
	path = repos/guoweikang/osl
	url = https://github.com/guoweikang/osl.git
[submodule "repos/kern-crates/ByteOS"]
	path = repos/kern-crates/ByteOS
	url = https://github.com/kern-crates/ByteOS.git
